{
    "parserOptions": {
        "project": "tsconfig.eslint.json",
        "sourceType": "module"
    },
    "extends": ["@ionaru", "prettier"],
    "rules": {
        "import/no-unresolved": "off",
        "unicorn/no-array-push-push": "off"
    }
}
